run = "php -S 0.0.0.0:8000 -t ."
modules = ["php-8.2", "nodejs-20", "nix"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "php -S 0.0.0.0:8000 -t ."]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80

[workflows]
runButton = "Run Kasir App"

[[workflows.workflow]]
name = "Run Kasir App"
author = 43826787
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:8000 -t ."
